
*{
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}
#Header{
    background-color: rgb(77, 77, 8);
    color: #fff;
    text-align: center;
    font-size: 3rem;
    padding: 15px 0;
    margin-bottom: 2rem;
}
#choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem 0;
}
#choice > div{
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#choice > div:hover{
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
}
#choice > div > img{
    height: 96%;
    width: 96%;
    object-fit: cover;
    border-radius: 100%;
}
#score{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#score > div > #p1,#p2{
    font-size: 3rem;
}
#score > div > .p3{
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: aqua;
    color: black;
    padding: 5px;
}
#mesg{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
#mesg > p{
    display: inline-block;
    text-align: center;
    background-color: grey;
    color: #fff;
    font-size: 2rem; 
    padding: 10px 20px;
    border-radius: 10px;
}